---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]

      - id: ruff
        name: ruff
        entry: poetry run ruff
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]

      - id: pydoclint
        name: pydoclint
        entry: poetry run pydoclint
        language: system
        types: [python]

      - id: pymarkdown
        name: pymarkdown
        entry: poetry run pymarkdown scan
        language: system
        types: [markdown]
        exclude: '^\.github/prompts/.*\.prompt\.md$'

      - id: yamllint
        name: yamllint
        entry: poetry run yamllint -c .yamllint.yaml
        language: system
        types: [yaml]
